.container {
  display: flex;
  justify-content: center;
  background-color: #6179a3;
}
a {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  padding: 13px;
  text-transform: uppercase;
}
h1 {
  color: #ffff;
  font-size: 45px;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: #ffff;
  color: #6179a3;
  padding: 30px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}